{% load rich_text %}
{% load static %}
<script src="{% static "vendored/jquery-3.1.1.js" %}"></script>
<script src="{% static "pretalx_community_voting/vote.js" %}"></script>
<link rel="stylesheet" href="{% static "pretalx_community_voting/vote.css" %}" />

<h1>Community voting</h1>
{% if user %}
    {% for submission in object_list %}
        <article>
            <header>
                <form>
                    <label {% if submission.score == 0 %}class="selected"{% endif %}>
                        0
                        <input type="radio" name="{{ submission.code }}" value="0"
                            {% if submission.score == 0 %}checked="checked"{% endif %} />
                    </label>
                    <label {% if submission.score == 1 %}class="selected"{% endif %}>
                        1
                        <input type="radio" name="{{ submission.code }}" value="1"
                            {% if submission.score == 1 %}checked="checked"{% endif %} />
                    </label>
                    <label {% if submission.score == 2 %}class="selected"{% endif %}>
                        2
                        <input type="radio" name="{{ submission.code }}" value="2"
                            {% if submission.score == 2 %}checked="checked"{% endif %} />
                    </label>
                </form>
                <h3>{{ submission.title }}</h3>
            </header>
            {{ submission.abstract|rich_text|default:'-' }}
        </article>
    {% empty %}
        <p>No submissions yet.</p>
    {% endfor %}
{% else %}
    <p>Invalid URL. Please double check that it is correct.</p>
{% endif %}
